/target

# Derived from shellops submodule
shell/ops

# Derived from shellops submodule
shell/action

# Derived from shellops submodule
/.version

# Derived from shellops submodule
/.opcache
coverage
